# dependencies
/node_modules

# build
build/

# testing
/coverage
.nyc_output
/.scannerwork

# config
.config/
.env
secret.json

# npm
npm-debug.log*
.npm

# Editor(VS & Webstrom)
.idea/
.vscode/
.history/
